.business-avatar {
    height: 5.2rem !important;
    width: 5.2rem !important;
    border: 5px solid white;
    border-radius: 0.625rem !important;
}

.business-banner {
    width: 100%;
}

.rounded-logo {
    border-radius: 0.25rem;
}
.business-logo-avatar {
    height: 5.2rem !important;
    width: 5.2rem !important;
}