.primary-headline-padding-bottom {
    padding-bottom: 1.25rem !important;
}

.primary-headline-border {
    border-radius: 0.5rem !important;
}

.primary-headline-img {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}