.inner-sidebar-icons {
    height: 1.25rem !important;
    width: 1.25rem !important;
    color: #203343;
    font-size: 1.3rem !important;
}

#inner-sidebar .menu-link {
    color: $slate-gray !important;
}

#inner-sidebar .activeTab {
    color: $primary !important;
}