.owner-logo {
    width: 4.37rem;
    height: 4.37rem;
}

.owner-logo img {
    width: 100%;
    height: 100%;
}

.my-lv-products-height {
    height: 80rem;
}

.my-lv-categories-height {
    height: 37.5rem;
}
.tags-color {
    color: var(--bs-body-color) !important;
}