.menu-vertical {
  margin-top: 6.325rem !important;
}

.sidebar .logo {
  width: 9.2rem;
}
.sidebar.active {
  transition: all 0.4s ease !important;
}

.sidebar .active {
    transition: all 0.4s ease !important;
  }
