.tag-icon {
    font-size: 1.25rem !important;
    padding: 0.25rem 0 !important;
}

.tag {
    padding: 1.3rem 0.7rem !important;
}

.tag-title {
    margin-bottom: 0 !important;
    padding: 0.25rem 0 !important;
}